<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="./static/styles.css" />
        <title>ToDoApp</title>
    </head>
    <body class="flex">
        <h1>{{.PageTitle}}</h1>
        <ul>
            {{if .Todos}} {{range $key, $value := .Todos}} {{if
            $value.Completed}}
            <li class="flex-row">
                <p>{{$value.Name}}</p>
                <p class="completed">Completed</p>
                <a href="/update-form?id={{$value.Id}}">Update</a>
                <a href="/delete?id={{$value.Id}}">Delete</a>
            </li>
            {{else}}
            <li class="flex-row">
                <p>{{$value.Name}}</p>
                <p class="incomplete">Incomplete</p>
                <a href="/update-form?id={{$value.Id}}">Update</a>
                <a href="/delete?id={{$value.Id}}">Delete</a>
            </li>
            {{end}} {{end}} {{else}}
            <p>Nothing to see here!</p>
            {{end}}
            <a href="/create-form">Add Item</a>
        </ul>
    </body>
</html>
